{{> header}}
        
        {{> navbar }}

        <div class="jumbotron">
            <header>
                <h1 class="display-4">ACERCA DE .....</h1>
            </header>

            <p class="lead">Esta página fue creada por Joselyn Chérrez</p>

            <hr class="my-4">
        </div>



    </div>


{{> footer }}